.experience
{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}
  
.experience h2 
{
    margin-top: 30px;
}
  
.experience ul 
{
    margin-top: 30px;
}
  
.experience + div 
{
    text-align: center;
}
  
.contenue-main 
{
    margin: auto;
}

table
{
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

td, th
{
    padding: 15px;
    border: 1px solid #a5b4fc;
}

td
{
    padding: 80px;
}

h2
{
    margin-bottom: 80px;
}
 h1, h2
 {
    text-align: center;
 }

 @media screen and (max-width: 996px) 
 {
    .section-tarifs
    {
        display: none;
    }
 }